<p id="notice"><%= notice %></p>

<%= link_to 'Editar', edit_tenant_path(@tenant) %> |
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          tenants_path, :class => 'btn btn-default' %>
